

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.jumbotron {
	background-color: #934;
}

header, .footer, .icons, div {
	display:block;
}



html, body {
	margin: 0 0 0px;
	padding-top: 0px;
	padding-bottom: 0px;
        height: 100%;
}

input[type="radio"] {
	margin-left: 5px;
	margin-right: 10px;
}



.footer {
	
		bottom: 0px;
		height: 100px;
		width: 100%;
		background: #999;	
		color: #fff;
		text-align: left;
                position:absolute;

}


.footer p {	margin:0px;	padding:20px}

.attention {
	font-weight: bold;
	color: red;
}

.info {
    width: 50%;
    height: 50%;
}