header, section, footer, aside, nav, article, figure, figcaption {
    display: block;
}

div > h1 {
    background-color: white;
    color: grey;
    text-align: center;
}

.box {
    width: 800px;
    margin: 0px auto 0px auto;
    background-color: white;
}

div > p {
    padding-left: 10px;
    padding-bottom: 15px;
    font-weight: bold;
    margin: 0px auto;
}

form {
    margin: 0px auto;
}

body {
    background-color: darkgray;
}

legend {
    padding: 0px 5px 0px 5px;
    border: 1px solid lightskyblue;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    text-transform: uppercase;
}

fieldset {
    border: 1px solid lightskyblue;
    border-radius: 10px;
    padding: 5px;
    margin: 10px 10px 10px 10px;
}

fieldset:first-child {
    margin: 0px 10px 0px 10px;
}

#submitBut {
    display: inline;
    position: relative;
    left: 44%;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px 5px 5px 5px;
}


