/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-dec-2013, 11:05:26
    Author     : Simon
*/
/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1.2;
}
ol { 
    padding-left: 1.4em;
    list-style: decimal;
}
ul {
    padding-left: 1.4em;
    list-style: square;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
} 
/* end reset browser styles */

@viewport {
    width: device-width;
}

@font-face {
    font-family: 'Chunkfive';
    src: url('../font/Chunkfive.otf');
}

font-face {
    font-family: 'Verdana', 'Arial', 'Calibri';
}

.main {
    width: 800px;
    margin: 0 auto;
    background-color: white;
}

body {
    margin: 0;
    padding: 0;
    background-color: #333333;
}

nav {
    margin: 5px;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    width: 800px;
}

nav ul li {
    float: left;
    width: 14%;
    border: #99B2CC 1px solid;
    border-radius: 5px 5px 5px 5px;
    margin: 5px;
}

nav ul li:last-of-type {
    border-right: #99B2CC 1px solid;
}

nav ul li a {
    text-decoration: none;
    color: #99B2CC;
    padding: 5px;
    display: block;
    text-align: center;
    font-weight: bold;
    font-family: 'Arial';
}

nav ul li a:hover {
    background-color: #99B2CC;
    color: #333333;
    text-decoration: none;
}

nav ul li a:active {
    background-color: #99B2CC;
    color: #333333;
    text-decoration: none;
}

div {
    margin: 5px;
    padding: 12px;
}

table {
    margin: 0 auto;
}

table tr td {
    padding: 5px 5px 5px 5px;
    border: #333333 1px solid;
}

table th {
    padding: 5px 5px 5px 5px;
}

article {
    display: right;
    font-family: 'Verdana';
    padding: 10px 10px 10px 10px;
    margin: 5px 5px 5px 5px;
    font-size: 15px;
}

.wiebenik img {
    width: 288px;
    margin-left: -70px;
}

article a {
    text-decoration: none;
    color: #333333;
    font-style: italic;
    font-weight: bold;
}

article a:hover {
    color: orangered;
}

article p {
    margin: 10px;
    line-height: 1em;
    padding: 5px
}

article p img{
    position: relative;
    left: 40%;
    right: 50%;
    margin-bottom: 10px;
    margin-top: 10px;
}

article ul {
    list-style: none;
    margin: 12px 12px 12px 12px;
}

article ul li {
    margin: 5px
}

h1 {
    font-family: 'Verdana';
    font-size: 18px;
    font-weight: bolder;
    color: white;
    margin-bottom: 10px;
    border-radius: 10px 10px 10px 10px;
    background-color: #99B2CC;
    text-align: center;
    padding: 5px;
}

h2 {
    font-family: 'Verdana';
    font-size: 14px;
    font-weight: bolder;
    color: white;
    margin-bottom: 10px;
    border-radius: 10px 10px 10px 10px;
    background-color: #99B2CC;
    text-align: center;
    padding: 5px;
}

label {
    display: inline-block;
    width: 7em;
    text-align: right;
    margin-right: 5px;
}

fieldset {
    border: #99B2CC 1px dotted;
    padding: 10px;
    margin: 10px;
}

fieldset legend {
    padding: 10px;
    font-weight: bold;
}

input:focus {
    font-weight: bold;
    color: #99B2CC;
}

.inputbutton {
    margin-left: 40px;
}

textarea {
    margin-top: 10px;
}

footer {
    font-size: 10px;
    color: #333333;
    text-align: center;
}

.hobbyPclass {
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    width: auto;
    border: #99B2CC 1px dashed;
    height: 20px;
    text-align: center;
    font-weight: bold;
    color: #99B2CC;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 15px;
    display: block;
}

.hobbyPclass:hover {
    opacity: 0.95;
    -webkit-transform: scale(1.10);
    transform: scale(1.10);
    background-color: #99B2CC;
    color: #333333;
}

.hobbyPclass a {
    text-decoration: none;
    color: #333333;
    font-style: normal;
    font-family: 'Arial'
}

.hobbyPclass a:hover {
    text-decoration: none;
    color: #333333;
    font-style: normal;
}

.pheader1 {
    background-color: #99B2CC;
    color: #333333;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 22px;
    height: 50px;
    border: #333333 1px solid;
    text-align: left;
    border-bottom: none;
    padding-left: 10px;
    padding-top: 15px;
}

.pheader2 {
    background-color: #99B2CC;
    color: #333333;
    font-family: 'Chunkfive';
    font-weight: bold;
    font-size: 40px;
    height: 50px;
    border: #333333 1px solid;
    text-align: center;
    border-bottom: none;
    border-top: none;
}

.pheader3 {
    background-color: #99B2CC;
    color: #333333;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 14px;
    height: 50px;
    border: #333333 1px solid;
    text-align: right;
    padding-right: 10px;
    border-top: none;
    padding-bottom: 15px;
    margin-bottom: 25px;
}

.languageChoice {
    text-align: center;
}

.skills p ul li {
    margin-bottom: 1px;
}

@media (min-width: 300px) and (max-width: 600px) {
    body {
        margin:0;
        padding: 0;
        background-color: #333333
    }
    
    .main {
        width: 300px;
        margin: 0 auto;
        background-color: white;
    }
    
    header {
        width: 250px;
        margin-bottom: 4px;
    }
    
    nav {
        margin-bottom: 2px;
        margin-top: 2px;
    }
    
    nav ul {
        width: 250px;
        margin-top: 1px;
    }
    
    nav ul li {
        float: none;
        width: 90px;
        height: 25px;
        margin-left: 70px;
    }
    
    nav ul li a {
        font-size: 12px;
        height: 15px;
    }
    
    .main div article {
        font-size: 14px;
    }
    
    div {
        margin: 3px;
    }
    
    article {
        margin: 3px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    body {
        margin: 0;
        padding: 0;
        background-color: #333333
    }
    
    .main {
        width: 600px;
        margin: 0 auto;
        background-color: white;
    }
    
    header {
        width: 600px;
    }
    
    nav ul {
        width: 600px;
    }
    
    nav ul li {
        font-size: 14px;
        height: 40px;
    }
    
    nav ul li a {
        height: 30px;
    }
 
}