/* line 5, ../sass/main2.sass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 25, ../sass/main2.sass */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}

/* line 29, ../sass/main2.sass */
body {
  line-height: 1;
}

/* line 32, ../sass/main2.sass */
ol, ul {
  list-style: none;
}

/* line 35, ../sass/main2.sass */
blockquote, q {
  quotes: none;
}

/* line 39, ../sass/main2.sass */
blockquote:before {
  content: "";
  content: none;
}
/* line 42, ../sass/main2.sass */
blockquote:after {
  content: "";
  content: none;
}

/* line 47, ../sass/main2.sass */
q:before {
  content: "";
  content: none;
}
/* line 50, ../sass/main2.sass */
q:after {
  content: "";
  content: none;
}

/* line 54, ../sass/main2.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 75, ../sass/main2.sass */
html {
  font-size: 16px;
}

/* line 78, ../sass/main2.sass */
body {
  background-color: white;
}

/* line 81, ../sass/main2.sass */
main {
  background-color: azure;
  margin: 0 auto 0 auto;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

/* line 87, ../sass/main2.sass */
header {
  margin: 0 auto 0 auto;
  background-color: white;
  width: 85%;
  padding: 20px 0 20px 0;
  text-align: center;
  font-family: "Arial Black", Gadget, sans-serif;
}
/* line 94, ../sass/main2.sass */
header h1 {
  font-size: 2em;
  font-weight: bold;
  padding: 1.5625em 0 1.5625em 0;
}
/* line 98, ../sass/main2.sass */
header h2 {
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 0.8333333em;
  padding-bottom: 1.666666em;
}

/* line 104, ../sass/main2.sass */
article {
  padding: 2.5em 2.5em 2.5em 2.5em;
}
/* line 106, ../sass/main2.sass */
article h3 {
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  padding: 1.25em 0 1.25em 0;
}
/* line 111, ../sass/main2.sass */
article h4 {
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  padding: 1.25em 0 1.25em 0;
}
/* line 116, ../sass/main2.sass */
article h5 {
  text-align: center;
  font-size: 0.8em;
  font-weight: bold;
  padding: 1.25em 0 1.25em 0;
}
/* line 121, ../sass/main2.sass */
article.bio {
  background-color: lightgrey;
  width: 75%;
  margin: 0 auto 0 auto;
}
/* line 124, ../sass/main2.sass */
article.motivation {
  background-color: whitesmoke;
  width: 75%;
  margin: 0 auto 0 auto;
}
/* line 127, ../sass/main2.sass */
article.biblio {
  background-color: ghostwhite;
  width: 75%;
  margin: 0 auto 0 auto;
}

/* line 131, ../sass/main2.sass */
a {
  text-decoration: none;
  color: silver;
}
/* line 134, ../sass/main2.sass */
a:hover {
  color: black;
}

/* line 138, ../sass/main2.sass */
footer.source {
  text-align: right;
  font-size: 0.625em;
  padding-top: 2.5em;
}

/* line 144, ../sass/main2.sass */
div.bio {
  width: 100%;
  background-color: lightgrey;
  border-bottom: 2px solid white;
}
/* line 148, ../sass/main2.sass */
div.motivation {
  width: 100%;
  background-color: whitesmoke;
  border-bottom: 2px solid white;
}
/* line 152, ../sass/main2.sass */
div.biblio {
  width: 100%;
  background-color: ghostwhite;
}

/* line 157, ../sass/main2.sass */
ul li {
  line-height: 1.5em;
}
